<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 4;
  Dashing.loadSavedGridsterLayout();
});
</script>

<% content_for(:title) { "Dashboard" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="weather-arlington" data-view="Weather"></div>
      </li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="transit-home" data-view="Transit" data-title="Travel Times"></div>
      </li>
  </ul>
</div>
